
globe_container h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
globe_container p, div, td {
    font-family: 'Ubuntu', sans-serif;
    color: #d5d5d5;
    font-weight:300;
    line-height: 1.4;
    font-size: 21px;
}

.globe_container{
   width: 100%;
   background-color: #222;
}

#globe_title {
 background-image:url("../img/globe.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: auto 500px;
 height:700px;
}

#coming_soon {
  position:fixed;
  z-index:3000;
}

.subtitle td {
   font-size: 32px;
}

.sms-left {
 text-align: center;
 background-color: #00d8ff;
 color: #444;
}

.sms-right {
 text-align: center;
 background-color: #ff3d00;
 color: #444;
}
