
globe_container h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
globe_container p, div, td {
    font-family: 'Ubuntu', sans-serif;
    color: #d5d5d5;
    font-weight:300;
    line-height: 1.4;
    font-size: 21px;
}

.globe_container{
   width: 100%;
   background-color: #222;
}

.globe_container .row {
  /*margin-top: 150px;*/
}

#globe_title {
 background-image:url("../img/globe_logo.png");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: auto 500px;
}

#coming_soon {
  position:fixed;
  z-index:3000;
}

#google_play_banner {
  position:fixed;
  z-index:3000;
  margin-top:20px;

}

.subtitle td {
   font-size: 26px;
}

.sms-left {
 text-align: center;
 background-color: #00d8ff;
 color: #444;
}

.sms-right {
 text-align: center;
 background-color: #ff3d00;
 color: #444;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#discover_content p{
 font-size: 18px;
}

.image_viewer {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: 0px;


}

.image_viewer img{
  position:relative;
  z-index:1000;

}

.left-controller {
 position:absolute;
 left:10%;
 top:50%;
 z-index:1100;
}

.right-controller {
 position:absolute;
 right:10%;
 top:50%;
 z-index:1100;
}

.close-controller {
 position:absolute;
 right:-5%;
 top:-5%;
 z-index:1100;
}

.left-controller:hover, .right-controller:hover, .close-controller:hover {
    cursor: pointer
}

.right-controller:hover {
    cursor: pointer
}

#back_panel {
  z-index:1;
  position:absolute;
  top:-2.5%;
  left:-2.5%;
  width:105%;
  height:105%;
  background-color:#111;
  opacity: 0.7;
}

.glyphicon-chevron-left, .glyphicon-chevron-right, .glyphicon-remove-sign{
 font-size:40px;
}

.globe_section {
  margin-top:50px;
}

.globe_dummy {
  background-color:#ff3d00;
}



















