<div class="container-fluid subcard">
    <div class="row">
        <div class="col-sm-12" style="padding-left:0;padding-right:0;">
            <div id="legals_content">
                <p><h5>iGLou Studio is powered by: </h5></p>


                 <div class="row">
                    <div class="col-sm-4">
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="gplus_btn" src="static/img/icon_ubuntu.png" alt="Maps image">
                        </div>
                    </div>

                     <div class="col-sm-offset-3 col-sm-5 text-right">
                        <div class="inline">
                            <p><h5><span class="iGLou_blue">STUDIO</span></h5></p>
                        </div>
                    </div>

                </div> <!-- .row end-->

                 <div class="row">
                    <div class="col-sm-4">
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="gplus_btn" src="static/img/icon_ue4.png" alt="Maps image">
                        </div>
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="fb_btn" src="static/img/icon_android_blue.png" alt="Maps image">
                        </div>
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="twt_btn" src="static/img/icon_qt_creator.png" alt="Maps image">
                        </div>
                    </div>


                      <div class="col-sm-offset-3 col-sm-5 text-right">
                        <div class="inline">
                            <p><h5>Android App | </h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>Real-Time Rendering |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>Cloud |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>Consulting |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5><span class="iGLou_blue">SERVICES</span></h5></p>
                        </div>
                    </div>

                </div> <!-- .row end-->


                 <div class="row">
                    <div class="col-sm-4">
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="gplus_btn" src="static/img/icon_django.png" alt="Maps image">
                        </div>
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="fb_btn" src="static/img/icon_bootstrap.png" alt="Maps image">
                        </div>
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="twt_btn" src="static/img/icon_firefox.png" alt="Maps image">
                        </div>
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="twt_btn" src="static/img/icon_nginx.png" alt="Maps image">
                        </div>
                    </div>

                    <div class="col-sm-offset-3 col-sm-5 text-right">
                        <div class="inline">
                            <p><h5>Agile | </h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>General terms and conditions |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>Audience |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>Design |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5><span class="iGLou_blue">FRAMEWORK</span></h5></p>
                        </div>
                    </div>

                </div> <!-- .row end-->


                <div class="row">
                    <div class="col-sm-4">
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="gplus_btn" src="static/img/icon_gimp.png" alt="Maps image">
                        </div>
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="fb_btn" src="static/img/icon_blender.png" alt="Maps image">
                        </div>
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="twt_btn" src="static/img/icon_inkscape.png" alt="Maps image">
                        </div>
                    </div>

                    <div class="col-sm-offset-3 col-sm-5 text-right">
                        <div class="inline">
                            <p><h5>Studio | </h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>Me... |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5><span class="iGLou_blue">ABOUT</span></h5></p>
                        </div>
                    </div>


                </div> <!-- .row end-->


                 <div class="row">
                    <div class="col-sm-4">
                        <div class="inline">
                            <img class="img-responsive  img-legal miniature" id="gplus_btn" src="static/img/icon_audacity.png" alt="Maps image">
                        </div>
                    </div>


                      <div class="col-sm-offset-3 col-sm-5 text-right">
                        <div class="inline">
                            <p><h5>E-Mail | </h5></p>
                        </div>
                        <div class="inline">
                            <p><h5>Location |</h5></p>
                        </div>
                        <div class="inline">
                            <p><h5><span class="iGLou_blue">CONTACT</span></h5></p>
                        </div>
                    </div>

                </div> <!-- .row end-->

                <p><h5>Special thank to all these people sharing passion and code. </h5></p>
                <p><h5>Unreal® is a trademark or registered trademark of Epic Games, Inc. in the United States of America
                and elsewhere. Unreal® Engine, Copyright 1998 – 2015, Epic Games, Inc. All rights reserved.
                Ubuntu and Canonical are registered trademarks of Canonical Ltd. Android is a trademark of Google Inc.
                Blender and Blender logo are registered trademark of the Blender Foundation.
                .</h5></p>



                    <div class="col-sm-12 text-center bottom-aligned-text">
                        <p><h5><span class="text-muted">©2015 Jonathan Boucher.</span></h5></p>
                    </div>



            </div>
        </div>
    </div>
</div>



