<script type="text/javascript">

    function displayMap() {
        initialize();
    }


    function initialize() {

      var myLatlng = new google.maps.LatLng(43.604482, 1.443962);

      var mapOptions = {
        zoom: 4,
        center: myLatlng
      };

      var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            title:"iGLou Studio!"
        });

        marker.setMap(map);
    }


    function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAGolP0GBTycb2j0A5bwSsn616At3xYnOw' +
              '&signed_in=true&callback=initialize';
          document.body.appendChild(script);
    }

    window.onload = loadScript;

</script>
