<div id="wrapper" class="toggled">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand" id="sidebar-iglou">
                        <a href="#">
                            STUDIO
                        </a>
                    </li>
                    <li class="sidebar-brand" id="sidebar-blog">
                        <a href="#">
                            BLOG
                        </a>
                    </li>
                    <li class="sidebar-brand" id="sidebar-forges">
                        <a href="#">
                            FORGES
                        </a>
                    </li>
                </ul>
            </div>

    <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-full">