<script type="text/javascript">

/////////////////////////////////////////////////////////////////////////////////////////
// SIDEBAR SECTION
/////////////////////////////////////////////////////////////////////////////////////////

$( "#sidebar-wrapper" ).hover(
        function(){
              $("#menu-toggle").css("color","#808080");
        },
        function(){
              $("#wrapper").addClass("toggled");
              $("#menu-toggle").css("color","#00d8ff");
        }
    );

/////////////////////////////////////////////////////////////////////////////////////////
// NAVIGATION
/////////////////////////////////////////////////////////////////////////////////////////

function gotoContact() {
    console.log("GoTO contact!!");
    var pos = $("#contact").offset().top;
    $('body, html').animate({scrollTop:pos}, 1000);
    setTimeout(function() {
        if(contact_inst.currentCat != "mail"){
            $("#mail_btn").click();
        }
    },500);
}


</script>































