<script type="text/javascript">

    var O_Y;
    var O_y;
    var H;
    var W;

    var y_i_1;
    var Y_1;
    var L_1;
    var I_1;
    var OVF_1;
    var OFF_1;

    var y_i_2;
    var Y_2;
    var L_2;
    var I_2;
    var OVF_2;
    var OFF_2;

    function update_dimensions() {
        O_y = $(".navbar-iGLou .container").offset().top;
    }

    function init_dimensions() {

        update_dimensions();

        O_Y   = $(".navbar-iGLou .container").height();
        H     = $(window).height() - O_Y;
        W     = $(window).width();



        y_i_1 = $(".first_parallax").offset().top - O_Y;
        Y_1   = $(".first_parallax").height();
        if(y_i_1 < H) {
            L_1   = Y_1 + H - ( H - y_i_1);
            console.debug("parallax is initially onscreen!" + (H - y_i_1));
        } else {
            L_1   = H + Y_1;
        }
        I_1   = $(".first_parallax img").height();
        OFF_1 =  1000;
        OVF_1  = I_1 + OFF_1 - Y_1;



        y_i_2 = $(".second_parallax").offset().top - O_Y;
        Y_2   = $(".second_parallax").height();
        if(y_i_2 < H) {
            L_2   = Y_2 + H - ( H - y_i_2);
            console.debug("parallax is initially onscreen!" + (H - y_i_2));
        } else {
            L_2   = H + Y_2;
        }
        I_2   = $(".second_parallax img").height();
        OFF_2 =  500;
        OVF_2  = I_2 + OFF_2 - Y_2;



        $(".third_parallax").css("height", W / 3.2 );

        y_i_3 = $(".third_parallax").offset().top - O_Y;
        Y_3   = $(".third_parallax").height();
        if(y_i_3 < H) {
            L_3   = Y_3 + H - ( H - y_i_3);
            console.debug("parallax is initially onscreen!" + (H - y_i_3));
        } else {
            L_3   = H + Y_3;
        }
        I_3   = $(".second_parallax img").height();
        OFF_3 =  0;
        OVF_3  = I_3 + OFF_3 - Y_3;
    };



    $(function() {

        init_dimensions();

        console.debug("origin: " + O_y);
        console.debug("screen W: " + W + "   H: " + H);
        console.debug("parallax height: " + Y_1);
        console.debug("parallax scroll length: " + L_1);
        console.debug("parallax image height: " + I_1);
        console.debug("parallax image overflow: " + OVF_1);
        console.debug("parallax image offset: " + OFF_1);

        console.debug("parallax init pos: " + y_i_1);
    });

    $(window).scroll(
        function(){
            update_dimensions();

            var dY_1 = 0;
            var y_1 = y_i_1 - O_y;
            var is_y_1_onscreen = false;

            if(y_1 > 0) {
                if( y_1 < H ) {
                    is_y_1_onscreen = true;
                }
                else {

                }
            } else {
                if( (y_1 + Y_1) > 0) {
                    is_y_1_onscreen = true;
                } else {

                }
            }

            if( is_y_1_onscreen ) {
                if(y_i_1 < H) {
                    var ratio = (y_i_1 - y_1) / L_1;
                } else {
                    var ratio = (H - y_1) / L_1;
                }
                dY_1 = -1 * ratio * OVF_1 + OFF_1 / 2;
                $(".first_parallax img").css("margin-top",dY_1);
                console.debug("ratio " + (ratio*100) + "     pos " + y_1);
            }




            var dY_2 = 0;
            var y_2 = y_i_2 - O_y;
            var is_y_2_onscreen = false;

            if(y_2 > 0) {
                if( y_2 < H ) {
                    is_y_2_onscreen = true;
                }
                else {
                    console.debug("ONE IS OUT! ");
                }
            } else {
                if( (y_2 + Y_2) > 0) {
                    is_y_2_onscreen = true;
                } else {
                    console.debug("ONE IS OUT! ");
                }
            }

            if( is_y_2_onscreen ) {
                if(y_i_2 < H) {
                    var ratio = (y_i_2 - y_2) / L_2;
                } else {
                    var ratio = (H - y_2) / L_2;
                }
                dY_2 = -1 * ratio * OVF_2 + OFF_2 / 2;
                $(".second_parallax img").css("margin-top",dY_2);
                console.debug("ratio " + (ratio*100) + "     pos " + y_2);

            }





            var dY_3 = 0;
            var y_3 = y_i_3 - O_y;
            var is_y_3_onscreen = false;

            if(y_3 > 0) {
                if( y_3 < H ) {
                    is_y_3_onscreen = true;
                }
                else {
                    console.debug("ONE IS OUT! ");
                }
            } else {
                if( (y_3 + Y_3) > 0) {
                    is_y_3_onscreen = true;
                } else {
                    console.debug("ONE IS OUT! ");
                }
            }

            if( is_y_3_onscreen ) {
                if(y_i_3 < H) {
                    var ratio = (y_i_3 - y_3) / L_3;
                } else {
                    var ratio = (H - y_3) / L_3;
                }
                dY_3 = -1 * OVF_3 + 1.4 * ratio * OVF_3;
                $(".third_parallax img").css("margin-top",dY_3);
                console.debug("ratio " + (ratio*100) + "     pos " + y_3);
            }
        }
    );

    $( window ).resize(
        function() {
            console.log('I\'m resing!');
            init_dimensions();
        }
    );

</script>