<script type="text/javascript">
    
/////////////////////////////////////////////////////////////////////////////////////////
// about SECTION
/////////////////////////////////////////////////////////////////////////////////////////

var about_cat = ["studio","me"];

var current_about = "";

function get_image_tag() {
    return "<img class='img-responsive center-block' src='static/img/arrow.png' alt='Selection arrow' style='width: 256; height: 64px;'>";
}

function get_about_tag(category_name) {
    return "#" + category_name + "_tag";
}

function get_about_content(category_name) {
    return "#" + category_name + "_content";
}

function clear_about_arrow() {
    for(i = 0 ; i < about_cat.length ; i++) {
        var selector =  get_about_tag(about_cat[i]);
        $(selector).empty();
    }
}

function show_about_arrow(category) {
     clear_about_arrow();
     var selector =  get_about_tag(category);
     $(selector).append(get_image_tag());
}

function set_about_content(category_name) {
    var content = get_about_content(category_name);
    var html_content = $(content).html();
    $("#about_content").html(html_content);
    current_about = category_name;
}

function is_about_content_hidden() {
    return $("#about_content").hasClass("hidden_token");
}

function hide_about_content() {
    $("#btn_close_about").addClass("hidden_token");
    $("#about_content").slideUp("fast", function() {
            $("#about_content").addClass("hidden_token")
            clear_about_arrow();
            open_second_parallax();
            scroll_about();
        }
    );
    current_about = "";
}

function show_about_content(category_name) {
    show_about_arrow(category_name);
    set_about_content(category_name);

    $("#about_content").slideDown("slow", function() {
            $("#about_content").removeClass("hidden_token");
            $("#btn_close_about").removeClass("hidden_token");
        }
    );
}

function toogle_about_content(category_name) {
    if( is_about_content_hidden() ) {
        show_about_content(category_name);
    } else {
        if( current_about == category_name ) {
            hide_about_content();
        } else {
            show_about_arrow(category_name);
            set_about_content(category_name);
        }
    }
}


function open_second_parallax() {
    $(".second_parallax").slideDown(
        function() {
            $("#second_parallax").removeClass("hidden_token");
        }
    );
}

function close_second_parallax(callback,params) {

    scroll_about();

    $(".second_parallax").slideUp(
        function() {
            $(".second_parallax").addClass("hidden_token")
            callback(params);
        }
    );

}

function scroll_about() {
     var pos = $("#studio_btn").offset().top - 2 * $(".navbar-iGLou .container").height();
    $('body, html').animate({scrollTop:pos}, 500);
}


$("#btn_close_about").click(
    function() {
        hide_about_content();
    }
);

$("#studio_btn").click(
    function(){
        close_second_parallax(toogle_about_content,"studio");
        //toogle_about_content("studio");
    }
);

$("#me_btn").click(
    function(){
        close_second_parallax(toogle_about_content,"me");
        //toogle_about_content("me");
    }
);
    
</script>