<script type="text/javascript">

/////////////////////////////////////////////////////////////////////////////////////////
// SECTION
/////////////////////////////////////////////////////////////////////////////////////////

function get_image_tag() {
    return "<img class='img-responsive center-block' src='static/img/arrow.png' alt='Selection arrow'\
     style='width: 256; height: 64px;'>";
}

function Section(name,list,parallax) {
    this.name = name;
    this.catList = list,
    this.parallax = parallax,
    this.currentCat = "",
    this.requestCat =""
}


Section.prototype.getContent = function() {
    var _this = this;
    return $("#"+ _this.name + "_content");
}

Section.prototype.getClosingButton = function() {
    return $("#btn_close_" + this.name);
}

Section.prototype.getParallax = function() {
    var retVal = $("." + this.parallax + "_parallax");
    return retVal;
}

Section.prototype.clearArrow = function() {
    for(i = 0 ; i < this.catList.length ; i++) {
        var selector =  "#" + this.catList[i] + "_tag";
        $(selector).empty();
    }
};

Section.prototype.showArrow = function(category) {
     this.clearArrow();
     var selector =  "#" + category + "_tag";
     $(selector).append(get_image_tag());
}

Section.prototype.setContent = function(category_name) {
    var html_content = $("#" + category_name + "_content").html();
    this.getContent().html(html_content);
    this.currentCat = category_name;
}

Section.prototype.isContentHidden = function() {
    return this.getContent().hasClass("hidden_token");
}

Section.prototype.hideContent = function() {
    var _this = this;
    this.getClosingButton().addClass("hidden_token");
    this.getContent().slideUp( function() {
            $("#" + this.name + "_content").addClass("hidden_token")
            _this.clearArrow();
            _this.openParallax();
            _this.scroll();
        }
    );
    this.currentCat = "";
    this.requestCat = "";
}

Section.prototype.showContent = function(category_name) {
    var _this = this;
    this.showArrow(category_name);
    this.setContent(category_name);

    this.getContent().slideDown( function() {
            _this.getContent().removeClass("hidden_token");
            _this.getClosingButton().removeClass("hidden_token");
            if(_this.currentCat == "maps") {
               displayMap();
                console.debug('Maps is Initializing...');
            }
        }
    );
}

Section.prototype.switchContent= function(category_name) {
    var _this = this;
    this.getContent().slideUp( function() {
        _this.showContent(category_name);
    });
}

Section.prototype.toggleContent = function(category_name) {
    if(this.isContentHidden()) {
        this.showContent(category_name);
    } else {
        if( this.currentCat == category_name ) {
            this.hideContent();
        } else {
            this.switchContent(category_name);
        }
    }
}

Section.prototype.openParallax = function() {
    var _this = this;
    this.getParallax().slideDown(
        function() {
            _this.getParallax().removeClass("hidden_token");
            init_parallax();
        }
    );
}

Section.prototype.closeParallax = function(category) {
    this.scroll();
    var _this = this;
    if(this.parallax != "" ){
        var parallax = this.getParallax();
        parallax.slideUp(function() {
                    parallax.addClass("hidden_token")
                    _this.toggleContent(category);
                }
        );
    } else {
        this.toggleContent(category);
    }
}


Section.prototype.scroll = function() {
    var pos = $("#" + this.catList[0] + "_btn").offset().top - 2 * $(".navbar-iGLou .container").height();
    $('body, html').animate({scrollTop:pos}, 500);
}

Section.prototype.toggleButton = function(category) {
    var button = $("#" + category + "_btn");
    if(this.currentCat == category) {
        button.attr('src','static/img/icon_' + category + '_pushed.png');
    }else {
        button.attr('src','static/img/icon_' + category + '.png');
    }
}

Section.prototype.onClick = function(category) {
    var _this = this;
    this.requestCat = category;
    this.closeParallax(category);
    setTimeout(function(){
        for(i=0;i<_this.catList.length; i++) {
            _this.toggleButton(_this.catList[i]);
        }
    }, 800);

}

Section.prototype.onButtonHover = function(category, handlerin) {
    var button = $("#" + category + "_btn");
    if(this.currentCat != category && handlerin) {
        button.attr('src','static/img/icon_' + category + '_over.png');
    }
    if(this.requestCat != category && !handlerin) {
        button.attr('src','static/img/icon_' + category + '.png');
    }
}


/////////////////////////////////////////////////////////////////////////////////////////
// Create instance
/////////////////////////////////////////////////////////////////////////////////////////

var services_inst = new Section("services",["android","rtr","cloud","consulting"],"first" );

var framework_inst = new Section("framework",["agile","gtc","audience","design"],"third");

var about_inst = new Section("about",["studio","me"],"second");

var contact_inst = new Section("contact",["mail","maps"],"");


/////////////////////////////////////////////////////////////////////////////////////////
// SERVICES
/////////////////////////////////////////////////////////////////////////////////////////

$("#btn_close_services").click(
    function() {
        services_inst.hideContent();
    }
);

$("#android_btn").click(
    function(){
        services_inst.onClick("android");
    }
);

$("#rtr_btn").click(
    function(){
        services_inst.onClick("rtr");
    }
);

$("#cloud_btn").click(
    function(){
        services_inst.onClick("cloud");
    }
);

$("#consulting_btn").click(
    function(){
        services_inst.onClick("consulting");
    }
);


$("#android_btn").hover(
    function(){ services_inst.onButtonHover("android",true); },
    function(){ services_inst.onButtonHover("android",false); }
);

$("#rtr_btn").hover(
    function(){ services_inst.onButtonHover("rtr",true); },
    function(){ services_inst.onButtonHover("rtr",false); }
);

$("#cloud_btn").hover(
    function(){ services_inst.onButtonHover("cloud",true); },
    function(){ services_inst.onButtonHover("cloud",false); }
);

$("#consulting_btn").hover(
    function(){ services_inst.onButtonHover("consulting",true); },
    function(){ services_inst.onButtonHover("consulting",false); }
);


/////////////////////////////////////////////////////////////////////////////////////////
// FRAMEWORK
/////////////////////////////////////////////////////////////////////////////////////////

$("#btn_close_framework").click(
    function() {
        framework_inst.hideContent();
    }
);

$("#agile_btn").click(
    function(){
        framework_inst.onClick("agile");
    }
);

$("#gtc_btn").click(
    function(){
        framework_inst.onClick("gtc");
    }
);

$("#audience_btn").click(
    function(){
        framework_inst.onClick("audience");
    }
);

$("#design_btn").click(
    function(){
        framework_inst.onClick("design");
    }
);


$("#agile_btn").hover(
    function(){ framework_inst.onButtonHover("agile",true); },
    function(){ framework_inst.onButtonHover("agile",false); }
);

$("#gtc_btn").hover(
    function(){ framework_inst.onButtonHover("gtc",true); },
    function(){ framework_inst.onButtonHover("gtc",false); }
);

$("#audience_btn").hover(
    function(){ framework_inst.onButtonHover("audience",true); },
    function(){ framework_inst.onButtonHover("audience",false); }
);

$("#design_btn").hover(
    function(){ framework_inst.onButtonHover("design",true); },
    function(){ framework_inst.onButtonHover("design",false); }
);


/////////////////////////////////////////////////////////////////////////////////////////
// ABOUT
/////////////////////////////////////////////////////////////////////////////////////////

$("#btn_close_about").click(
    function() {
        about_inst.hideContent();
    }
);

$("#studio_btn").click(
    function(){
        about_inst.onClick("studio");
    }
);

$("#me_btn").click(
    function(){
        about_inst.onClick("me");
    }
);

$("#studio_btn").hover(
    function(){ about_inst.onButtonHover("studio",true); },
    function(){ about_inst.onButtonHover("studio",false); }
);

$("#me_btn").hover(
    function(){ about_inst.onButtonHover("me",true); },
    function(){ about_inst.onButtonHover("me",false); }
);



/////////////////////////////////////////////////////////////////////////////////////////
// CONTACT
/////////////////////////////////////////////////////////////////////////////////////////

$("#btn_close_contact").click(
    function() {
        contact_inst.hideContent();
    }
);

$("#mail_btn").click(
    function(){
        contact_inst.onClick("mail");
    }
);

$("#maps_btn").click(
    function(){
        contact_inst.onClick("maps");

    }
);

$("#mail_btn").hover(
    function(){ contact_inst.onButtonHover("mail",true); },
    function(){ contact_inst.onButtonHover("mail",false); }
);

$("#maps_btn").hover(
    function(){ contact_inst.onButtonHover("maps",true); },
    function(){ contact_inst.onButtonHover("maps",false); }
);


$("#gplus").hover(
    function(){ $("#gplus img").attr('src','/static/img/icon_gplus_over.png'); },
    function(){ $("#gplus img").attr('src','/static/img/icon_gplus.png'); }
);

$("#fb").hover(
    function(){ $("#fb img").attr('src','/static/img/icon_fb_over.png'); },
    function(){ $("#fb img").attr('src','/static/img/icon_fb.png'); }
);

$("#twitter").hover(
    function(){ $("#twitter img").attr('src','/static/img/icon_twitter_over.png'); },
    function(){ $("#twitter img").attr('src','/static/img/icon_twitter.png'); }
);

</script>














