<script type="text/javascript">
    var current_section = '';

    $(function () {
        $('li>a').click(function(){
             if($(this).attr('href') == "#contact") {
                gotoContact();
                $('.dropdown').removeClass('open');
                $('.dropdown>a').attr('aria-expanded','false');
                return false;
             } else {
                var ref = $(this).attr('href');
                if( ref != "#"){
                    var pos = $(ref).offset().top;
                    $('body, html').animate({scrollTop:pos}, 500);
                    $('.dropdown').removeClass('open');
                    $('.dropdown>a').attr('aria-expanded','false');
                    return false;
                }
             }

          })

    });


    $('#main_menu').on('activate.bs.scrollspy', function () {
        current_section = $(".dropdown-menu li.active > a").attr('href');
        var current_text = $(".dropdown-menu li.active > a").text();
        $("#navigator").empty().html(current_text);
        var list = getList();

        if(current_section == list[list.length - 1 ]) {
            setArrowUp();
            console.log('current on ' + list[list.length - 1 ] + ' ' + current_section);
        }
        if(current_section == list[0]) {
            setArrowDown();
        }
    });


    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

   $( "#menu-toggle" ).hover(
        function(){
             $("#wrapper").removeClass("toggled");
             $("#menu-toggle").css("color","#808080");
        },
        function(){}
    );


    $('.navbar-toggle').on(   'shown.bs.collapse', function() {
         window.alert('shown');
    });

    $('.navbar-toggle').on('hidden.bs.collapse', function() { window.alert('hidden'); });

    $('#sitebar-site').hover(
    function(){
        $('#sitebar-site .separator').css("background-color","#00d8ff");
    },
    function(){
        $('#sitebar-site .separator').css("background-color","#d5d5d5");
    }
    );

    $('#sitebar-apps').hover(
    function(){
        $('#sitebar-apps .separator').css("background-color","#00d8ff");
    },
    function(){
        $('#sitebar-apps .separator').css("background-color","#d5d5d5");
    }
    );

</script>