<div class="navbar-wrapper" id="studio">
    <div class="container">
        <div class="navbar navbar-iGLou navbar-fixed-top" role="navigation">
            <div class="container">
              <p class="navbar-logo-iGLou">
                <img style="max-height:40px; margin-top:5px;" src="/static/img/logo_text_short.png">
              </p>
            
              <div class="navbar-brand" id="menu-toggle" rel="home" href="#" title="Site Navigation">
                    <span class="glyphicon glyphicon-th-list" ></span>                 
              </div>


             
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left" id="main_menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span id="navigator">STUDIO</span> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-iGLou" role="menu">
                            <li><a href="#studio">STUDIO</a></li>
                            <li class="divider"></li>
                            <li><a href="#services">SERVICES</a></li>
                            <li class="divider"></li>
                            <li><a href="#framework">FRAMEWORK</a></li>
                            <li class="divider"></li>
                            <li><a href="#about">ABOUT</a></li>
                            <li class="divider"></li>
                            <li><a href="#contact">CONTACT</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-nav-iGLou-inverse navbar-right">
                  <li><a href="#contact">CONTACT</a></li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>



