.container-full {
  margin: 0 auto;
  width: 100%;
}

.container-fluid.card {
    background:white;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 10px black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hidden_token {
  	//visibility: hidden;

    margin-top: -500px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.visible_token {
  	visibility: visible;
  	height: 100%;
}

.img-services:hover {
    cursor: pointer;
    content:url('../img/icon_RTR.png');
}

#services_content {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.subcard {
   position: relative; z-index:-1;
}

.dummy {
  visibility: hidden;
  height: 0;
}