.container-full {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid.card {
    z-index:1060;
    background:white;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 0px 10px black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
  margin:0;
  padding:0;
}

.mask{
  background:white;
  width: 100%;
  height: 100%;
}

.hidden_token {
    display:none;
}

.visible_token {
  	visibility: visible;
  	height: 100%;
}

.img-services:hover, .img-framework:hover, .img-about:hover, .img-contact:hover {
    cursor: pointer;
}

.img-contact {
  width: 100px;
  height: 100px;

}

.miniature {
  width: 70px;
  height: 70px;
}


#services_content {

}

.subcard {
   position: relative; z-index:1;
}

.dummy {
  visibility: hidden;
  height: 0;
}

.arrow {
 margin-top: 0px;
}


.row-fluid .image {
 width:50%;
 float:left;
}

.inline{
  display: inline-block;
}


.container-fluid.subcard {
  position: relative;
  z-index: -1; //very important
  padding:0;
  margin:0;
}

.container-fluid.subcard .col-lg-12 {
  padding: 0;
}

#contact_content {
    margin-top: -64px;
}

.parallax
{
    height: 500px;
    padding:0;
    margin:0;
    overflow: hidden;
}

.parallax.first_parallax, .parallax.second_parallax, .parallax.third_parallax, #legals_content {
    background: -webkit-linear-gradient(left, #444, #777); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #444, #777); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #444, #777); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #444, #777);

    margin-top: -10px;
}

#legals_content {
    width: 100%;
    height: 100%;
    margin-top: -30px;
    padding: 50px;
    color: white;
}

.parallax img {
  width: 100%;
}

.first_parallax img
{
  margin-top: 0px;
  width: 100%;
}

.parallax_content
{
    position:absolute;
    top: 30%;
    padding: 0;
    margin: 0;
    color: white;


}

.third_parallax{
  text-shadow: 2px 2px 4px black;

}

.right_content {
   left: 60%;
}

.left_content {
   left: 30%;
}

.center_content {
    left: 40%;
}

.contact_row {
 background: -webkit-linear-gradient(left, #444, #777); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(right, #444, #777); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(right, #444, #777); /* For Firefox 3.6 to 15 */
 background: linear-gradient(to right, #444, #777);
}

#btn_close_contact {
    margin-top: 30px;
    margin-bottom: 50px;
}

#mail_content_tag {
    margin-top: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.featurette h3 {
    color: white;
    background-color: #00d8ff;
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: 0px 4px 4px -3px black inset;
}

.featurette p {
   padding: 0 10px;
   /*display: inline;*/
   text-indent: 0;
}

.featurette ul {
  /*list-style-type:none;*/
  list-style-image: url('../img/bullet_iglou_16.png');
}

.featurette h3.content {
   font-weight: 300;
   text-align:center;
}


.btn_close {
  margin:50px 0;
}


@media (max-width: 721px) {
  .parallax
  {
    margin-top: -10px;
    height: 300px;
  }
}

@media (max-width: 720px) {
  .parallax
  {
    margin-top: -10px;
    height: 100px;
  }
}




