.container-full {
  margin: 0 auto;
  width: 100%;
}

.container-fluid.card {
    background:white;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hidden_token {
    display:none;
}

.visible_token {
  	visibility: visible;
  	height: 100%;
}

.img-services:hover, .img-framework:hover {
    cursor: pointer;
}

#services_content {

}

.subcard {
   position: relative; z-index:1;
}

.dummy {
  visibility: hidden;
  height: 0;
}

.arrow {
 margin-top: -10px;
}