<div class="globe_container">

    <div id="coming_soon">
        <img src="../static/img/coming_soon.png" alt="coming soon" style="height:256px;">
    </div>

    <div id="globe_title"></div>

    <div class="container">

         <div class="row" style="margin-top:100px;">
            <div class="col-sm-offset-1 col-sm-7">
            <table>
              <tr>
                <td align="right" valign="top"><img src="../static/img/sms_left.png"></td>
                <td bgcolor="#00d3ff" align="center" style="padding:15px 15px;"><span class="sms-left">Have you never been frustrated not be able
                    to do the difference between Niger and Nigeria?</span></td>
              </tr>
            </table>
            </div>
        </div>


        <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-5 col-sm-6">
            <table  align="right">
              <tr>
                <td style="padding:15px 15px;" bgcolor="#ff3d00" align="center"><span class="sms-right">Nope!</span></td>
                <td style="width:64px;" valign="bottom"><img src="../static/img/sms_right.png"></td>
              </tr>
            </table>
            </div>
        </div>

         <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-1 col-sm-7">
            <table>
              <tr>
                <td align="right" valign="top"><img src="../static/img/sms_left.png"></td>
                <td bgcolor="#00d3ff" align="center" style="padding:15px 15px;"><span class="sms-left">Even not be able
                    to pin them on a map?</span></td>
              </tr>
            </table>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-5 col-sm-6">
            <table  align="right">
              <tr>
                <td style="padding:15px 15px;" bgcolor="#ff3d00" align="center"><span class="sms-right">Of course not?? Should I?</span></td>
                <td style="width:64px;" valign="bottom"><img src="../static/img/sms_right.png"></td>
              </tr>
            </table>
            </div>
        </div>

         <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-1 col-sm-7">
            <table>
              <tr>
                <td align="right" valign="top"><img src="../static/img/sms_left.png"></td>
                <td bgcolor="#00d3ff" align="left" style="padding:15px 15px;"><span class="sms-left">You should! 200
                millions live there, two third of the USA population.</span></td>
              </tr>
            </table>
            </div>
        </div>

          <div class="row" style="margin-top:150px;">
            <div class="col-sm-12 subtitle">

                     <table style="width:auto%; margin:auto;">
                      <tr>
                        <td></td>
                        <td align="center"><span class="lead" style="color:#ff3d00;">FUN</span></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span class="lead" style="color:#d5d5d5;">EXPLORE THE <span style="font-weight:500;">
                            REAL</span> WORLD THROUGH</span></td>
                        <td align="center"><span class="lead" style="color:#00d8ff;"> ADDICTIVE </span></td>
                        <td><span class="lead" style="color:#d5d5d5;">SERIOUS GAME.</span></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td align="center"><span class="lead" style="color:#808080; ">ARCADE-STYLE</span></td>
                        <td></td>
                      </tr>
                    </table>

            </div>
        </div>
    </div>


</div>
