<div class="globe_container" id="globe">

    <div id="coming_soon">
        <img src="../static/img/coming_soon.png" alt="coming soon" style="height:256px;">
    </div>

    <!-- GLOBE BANNER -->
    <div id="globe_title"></div>

    <div class="container">

        <!-- SMS CONVERSATION -->
         <div class="row" id="sms">
            <div class="col-sm-offset-1 col-sm-7">
            <table>
              <tr>
                <td align="right" valign="top"><img src="../static/img/sms_left.png"></td>
                <td bgcolor="#00d3ff" align="center" style="padding:15px 15px;"><span class="sms-left">Have you never been frustrated not to be able
                    to do the difference between Niger and Nigeria?</span></td>
              </tr>
            </table>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-5 col-sm-6">
            <table  align="right">
              <tr>
                <td style="padding:15px 15px;" bgcolor="#ff3d00" align="center"><span class="sms-right">Nope!</span></td>
                <td style="width:64px;" valign="bottom"><img src="../static/img/sms_right.png"></td>
              </tr>
            </table>
            </div>
        </div>

         <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-1 col-sm-7">
            <table>
              <tr>
                <td align="right" valign="top"><img src="../static/img/sms_left.png"></td>
                <td bgcolor="#00d3ff" align="center" style="padding:15px 15px;"><span class="sms-left">Even not to be able
                    to pin them on a map?</span></td>
              </tr>
            </table>
            </div>
        </div>

        <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-5 col-sm-6">
            <table  align="right">
              <tr>
                <td style="padding:15px 15px;" bgcolor="#ff3d00" align="center"><span class="sms-right">Of course not! Should I?</span></td>
                <td style="width:64px;" valign="bottom"><img src="../static/img/sms_right.png"></td>
              </tr>
            </table>
            </div>
        </div>

         <div class="row" style="margin-top:10px;">
            <div class="col-sm-offset-1 col-sm-7">
            <table>
              <tr>
                <td align="right" valign="top"><img src="../static/img/sms_left.png"></td>
                <td bgcolor="#00d3ff" align="left" style="padding:15px 15px;"><span class="sms-left">Yes you should! 200
                millions people live there, the two third of the USA population!</span></td>
              </tr>
            </table>
            </div>
        </div>


        <!-- GLOBE SUBTITLE -->
        <div class="row" id="purpose">
            <div class="col-sm-12 subtitle">
                 <table style="width:auto%; margin:auto;">
                  <tr>
                    <td></td>
                    <td align="center"><span style="color:#ff3d00;">FUN</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><span style="color:#d5d5d5;">EXPLORE THE <span style="font-weight:500;">
                        REAL</span> WORLD THROUGH</span></td>
                    <td align="center"><span style="color:#00d8ff;"> ADDICTIVE </span></td>
                    <td><span style="color:#d5d5d5;">SERIOUS GAME,</span></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td align="center"><span style="color:#808080; ">ARCADE-STYLE</span></td>
                    <td></td>
                  </tr>
                </table>
            </div>
        </div>


        <!-- COUNTRIES SECTIONS -->
        <div class="row text-center" id="countries">
            <div class="featurette">
                <div class="col-sm-offset-1  col-md-6 text-left vcenter">
                    <p>FEATURING MORE THAN 249 COUNTIRES,</p>
                </div><!--
                --><div class="col-sm-5 figure vcenter">
                  <img src="../static/img/flags.png" alt="Flag palette" style="width:100%;">
                </div>
            </div>
        </div>


        <!-- ARCADE SECTIONS -->
        <div class="row text-center" id="arcade">
            <div class="featurette">
                <div class="col-sm-2 text-center vcenter">
                    <img src="../static/img/arcade.png" alt="arcade" style="height:256px;">
                </div>
                <div class="col-sm-6 text-center vcenter">
                    <p>3 CHALLENGING <span style="font-weight:500;">ARCADE</span> GAME MODES,</p>
                    <p style="color:#ff3d00;">FASTTER THAN LIGHT!</p>
                    <p style="color:#00d8ff;">FLAG'EM ALL!</p>
                    <p style="color:#808080;">PIN IT!</p>
                </div><!--
                --><div class="col-sm-2 text-center vcenter">
                    <img src="../static/img/insert-coin.png" alt="insert coin" style="width:100%;">
                </div>
            </div>
        </div>


        <!-- DISCOVERY SECTIONS -->
        <div class="row text-center" id="discover">
            <div class="featurette">
                <div class="col-sm-6 text-center vcenter">
                    <img src="../static/img/globe_japan.png" alt="Japan discovery" style="width:70%;">
                </div><!--
                --><div class="col-sm-6 text-center vcenter" id="discover_content">
                    <p style="font-size:21px;">AN IMMERSIVE <span style="font-weight:500;">DICOVERY</span> MODE INCLUDING</p>
                    <p>CAPITAL</p>
                    <p>GPS</p>
                    <p>POPULATION</p>
                    <p>GPD</p>
                    <p>...</p>
                </div>
            </div>
        </div>

        <!-- WORK IN PROGRESS-->
        <div class="row" id="preview">
            <div class="col-sm-12" style="font-size:36px;">WORK IN <span style="font-weight:500;">PROGRESS</span>...</div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-sm-3 img-clickable img-wip">
                <img src="../static/img/screenshot_globe_start.jpg" style="width:100%;">
            </div>
            <div class="col-sm-3 img-clickable img-wip">
                <img src="../static/img/screenshot_region.jpg" style="width:100%;">
            </div>
            <div class="col-sm-3 img-clickable img-wip">
                <img src="../static/img/screenshot_flag.jpg" style="width:100%;">
            </div>
            <div class="col-sm-3 img-clickable img-wip">
                <img src="../static/img/screenshot_ingame.jpg" style="width:100%;">
            </div>
        </div>

        <div class="row"></div>

        <div class="image_viewer">
            <div id="back_panel">
            </div>
            <div class="close-controller">
                <span class="glyphicon glyphicon-remove-sign" style="color:#ff3d00;"></span>
            </div>
            <div class="left-controller">
                <span class="glyphicon glyphicon-chevron-left" style="color:#00d8ff;"></span>
            </div>
            <img src="" alt="dummy">
            <div class="right-controller">
                <span class="glyphicon glyphicon-chevron-right" style="color:#00d8ff;"></span>
            </div>
        </div>


</div>





























