<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li class="" data-target="#myCarousel" data-slide-to="1"></li>
        <li class="active" data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">

        <div class="item studio  active">
          <div class="container text-center">
            <div class="carousel-caption iGLou">
              <div>
                <p><span class="iGLou_blue">Android</span> application development.</p>
              </div>
              <div style="margin-left:20px;">
                  <p><span class="iGLou_blue">Real-Time 3D Rendering</span> for games & serious games, simulations,
                    visualisation and augmented reality.</p>
              </div>
            </div>
            <div style="margin-top: -30px;">
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Contact</a></p>
            </div>
          </div>
        </div>


        <div class="item forges">
          <div class="container">
            <div class="carousel-caption iGLou">
              <p><span class="iGLou_orange">LEARN</span> and <span class="iGLou_orange">SHARE</span> about application development.</br></br>
              Real-Time 3D Rendering with <span class="iGLou_orange">Unreal Engine</span> & <span class="iGLou_orange">Android</span> Tuts.</p>
            </div>
          </div>
        </div>

        <div class="item blog">
          <div class="container">
            <div class="carousel-caption iGLou caption-center">
              <div style="margin-left:20px">
                <p>All <span style="font-weight:bold;">iGLou news</span>, all the time.</p>
              </div>
            </div>
          </div>
        </div>


      </div>

      <a class="left carousel-control iGLou" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="right carousel-control iGLou" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
